body {
    background-color: rgb(238, 238, 238);
}

.author {
    display: inline-block;
    text-align: center;
}

.authors {
    margin-top: 3%;
    text-align: center;
}

.media {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.title {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    font-size: 2.5em;
    line-height: 150%;
}

.abstract {
    font-size: 1.5em;
    line-height: 120%;
}

.author a{
    font-size: 1.3em;
    color: black;
}

.arxiv {
    background-color: rgb(214, 214, 214);
    text-align: center;
    font-size: 1.5em;
    color: black;
}